
.elh2{
    
    font-family: 'Creepster', cursive;
    animation: moveTitle 2s linear infinite;
}
   @keyframes moveTitle {
    0%{
     transform: translate(0);
    }50%
    {
        transform: translate(20px);
    } 100%
    {
        transform: translate(0);
    }
    }

  

    .containerpuntorojo{
        animation: shine 2s ease-in-out infinite;
    }
    @keyframes shine {
        0% {
          transform: scale(1);
          opacity:1
        }
        50% {
          transform: scale(1.2);
          opacity:0.5 ;
        }
        100% {
          transform: scale(1);
          opacity:1 ;
        }
      }
   
    .h2location{
        font-family: 'Creepster', cursive;
    }

    

/* .container {
       
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      .img2{
        width: 200px;
        height: 200px;
        border-radius: 70%;
        box-shadow: 0 0 0 0 rgba(20, 99, 23, 0.4);
        animation: breathe 2s ease-in-out infinite;
      }

      
@keyframes breathe {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(20, 99, 23, 0.4);
    }
    50% {
      transform: scale(1.2);
      box-shadow: 0 0 0 10px rgba(20, 99, 23, 0.4);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(20, 99, 23, 0.4);
    }
  }
  
*/

.h3{
    
    font-family: 'Creepster', cursive;
    box-shadow: 0 0 0 0 rgba(20, 99, 23, 0.4);
    animation: breathe 2s ease-in-out infinite;
}
@keyframes breathe {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(20, 99, 23, 0.4);
    }
    50% {
      transform: scale(1.2);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(20, 99, 23, 0.4);
    }
  }

body{
    font-family: 'Lato', sans-serif;
}
.search{
    font-family: 'Creepster', cursive;
}
.App{

    
 color: #FBFBFB;;   
background: #000000;
}


 
